.component {
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;

    & .marquee {
        & .chip {
            margin: 0.5rem;
            letter-spacing: 0.1rem;
        }
    }
}
