@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

:root {
    --cl-bg-primary: #eeeeee;
    --cl-text-primary: #616161;
    --cl-text-secondary: #6b6b6b;
    --cl-ci-blue: #1976d2;
    --cl-ci-red: #d32f2f;
    --cl-ci-grey: #616161;
}
