.coverflow-swiper-container {
    position: relative;
    overflow: hidden;
    height: 30rem;
    width: 80%;
    padding: 0.75rem 0rem;
}

.swiper-pagination {
    position: absolute;
    bottom: -5px !important;
    left: 0;
    right: 0;
    text-align: center;
}

.swiper-pagination-bullet {
    background: var(--cl-text-secondary);
    width: 10px;
    height: 10px;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 10px !important;
    background: var(--cl-primary-main);
}
